.lunar-segment {
  padding: 16px;
}
.lunar-segment-big {
  padding: 32px;
}
.lunar-block {
  margin-bottom: 8px;
}
.lunar-block-big {
  margin-bottom: 16px;
}
.lunar-block-bigger {
  margin-bottom: 32px;
}
.lunar-block-biggest {
  margin-bottom: 64px;
}
.lunar-side-space {
  margin-left: 4px;
  margin-right: 4px;
}
.lunar-side-space-big {
  margin-left: 8px;
  margin-right: 8px;
}
.lunar-side-space-bigger {
  margin-left: 16px;
  margin-right: 16px;
}
