@import 'config.scss';

.lunar-switch {
	height: 35px;
	width: 70px;
	position: relative;
  input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
}
/* Checked States */
.lunar-switch input:checked~label {
	background: $color-positive;
}
/* Background unchecked */
.lunar-switch label {
	background: darken($color-base, 8%);
	border-radius: 2px;
	display: block;
	height: 100%;
  border-radius: 200px;
	position: relative;
	transition: all .25s ease;
  width: 100%;
}
/* Slider unchecked */
.lunar-switch label div {
	display: block;
	height: 29px;
  width: 29px;
	border-radius: 50%;
	position: absolute;
  left: 3px;
	top: 3px;
	transition: all .15s ease;
	z-index: 3;
  background: #fff;

}
.lunar-switch input:checked~label div {
	left: 38px;
}
